# Loops

In [ ]:
print('hello')
print('hello')
print('hello')
print('hello')
print('hello')
print('hello')
print('hello')
print('hello')
print('hello')
print('hello')

- for
- while

In [ ]:
range(10)

In [ ]:
# Iterable = Anything which can be looped over
# for i in iterable:
for i in range(1,11):
    print(f'{i}- hello')

# 1- hello
# 2- hello

In [ ]:
# 1 to 20 
for num in range(2, 21, 2):
    print(num)

In [ ]:
# Print those cities having legth in even number
# e.g output: Multan, Lahore
cities = ['Karachi', 'Quetta', 'Lahore', 'Rawalpindi', 'Multan']
for city in cities:
    if len(city) % 2 == 0:
        print(city)

https://pythontutor.com/render.html#mode=display

In [ ]:
print(city)

In [ ]:
# Print those cities having more 2 'a' in city
# e.g output: Multan, Lahore
cities = ['Karachi', 'Quetta', 'Lahore', 'Rawalpindi', 'Multan']
for city in cities:
    if city.count('a') == 2:
        print(city)

In [ ]:
# cities = ['Karachi', 'Quetta', 'Lahore', 'Rawalpindi', 'Multan']

for sufyan in cities:
    # if 0 < len(sufyan) <= 6:
    if len(sufyan) <= 6:
        print(sufyan)

In [ ]:
# [ 6, 2, 1, 8, 10 ] => 16
nums = [ 6, 2, 1, 8, 10 ]
nums.remove(max(nums))
nums.remove(min(nums))
print(sum(nums))

In [ ]:
nums = [1, 1, 11, 2, 3]
nums.remove(max(nums))
nums.remove(min(nums))
print(sum(nums))

In [ ]:
nums = []
nums.remove(max(nums))
nums.remove(min(nums))
print(sum(nums))

In [ ]:
nums.sort()
nums[1:-1]

In [ ]:
# nums = [ 6, 2, 1, 8, 10 ]
nums = [1,3,12]
if nums:
    nums.sort()
    result = sum(nums[1:-1])
    print(result)
else:
    print(0)

In [ ]:
cities = ["Islamabad" , "Lahore" , "Karachi" , "Peshawar" , "Multan"]
count = 0 
vowels = "AEIOUaeious"
resultList = []
for city in cities:
    newCity = ""
    for ch in city:
        if ch not in vowels:
            newCity+=ch
    resultList.append(newCity)
        
print(resultList)

['lmbd', 'Lhr', 'Krch', 'Phwr', 'Mltn']

In [ ]:
name = "Huzaifa Ahmed"
vowels = "AEIOUaeiou"
result = ""

for char in name:
    if char not in vowels:
        result+=char

print(result)

In [ ]:
cities = ["Islamabad", "Lahore", "Karachi", "Peshawar", "Multan", "Quetta"]
unique_cities = []

for city in cities:
    city_lower = city.lower()  # lowercase for fair checking
    if len(set(city_lower)) == len(city_lower):  # if all chars are unique
        unique_cities.append(city)

print("Cities with all unique characters:", unique_cities)

https://www.codewars.com/kata/576b93db1129fcf2200001e6/train/python

In [26]:
for i in range(11):
    for j in range(i):
        print(j, end=" ")
    print()

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4
0 1 2 3 4 5
0 1 2 3 4 5 6
0 1 2 3 4 5 6 7
0 1 2 3 4 5 6 7 8
0 1 2 3 4 5 6 7 8 9

In [ ]:
flag = True
while flag:
    country = input('Enter Your Country').lower()   
    if country == "pakistan":
        print('Fuck u Pakistani')
        flag = False
    elif country == "afghanistan":
        print("Namak Haram Bharwoo")
        flag = False
    else:
        print("All Good <3")
        flag = False

Namak Haram Bharwoo